.tile {
  	height: 46px;
  	width: 46px;
  	text-align: center;
  	border: 1px solid #3498db;
  	color: blue;
  	font-size: 14px;
    background: #FFEBCD;
}

.tile:nth-child(3n) {
  	border-right: 3px solid #2c3e50;
}

.tile:nth-child(9n) {
  	border: 1px solid #3498db;
}

.tile:nth-child(n+19):nth-child(-n+27) {
  	border-bottom: 3px solid #2c3e50;	
}

.tile:nth-child(n+46):nth-child(-n+54) {
  	border-bottom: 3px solid #2c3e50;	
}